# Introdução ao Python para Machine Learnig

## print()

In [16]:
# Comentário de uma única linha
"""
Comentário de várias linhas 
x = 10 
x
"""
# este código passa uma string contendo "Hello World" para a função print! Que retorna/exibe a própria string.

print("Hello World")

Hello World

In [5]:
# Para exibir em linhas diferentes podemos usar """...."""
print("""Print
Multiple
Lines
""")

Print
Multiple
Lines

In [6]:
# exibir números

print(10)
print(10.75)

10
10.75

In [7]:
# exibir variáveis 

a = 10
b = "ten"
print(a)
print(b)

10
ten

In [9]:
a = 10
print(a)
a = a + 5
print(a)

10
15

In [13]:
# exibir variáveis em uma string 
var = 100
print(f'O valor é: {var}')

O valor é: 100

In [14]:
var = 10
print(f'O valor é: {var+5}')

O valor é: 15

In [18]:
# outras possíbilidades

print(f'O valor é: {var}') 
print('O valor é: {}'.format(var))
print('O valor é: ' + str(var))
print('O valor é: %d' % (var))

O valor é: 10
O valor é: 10
O valor é: 10
O valor é: 10

## Condicionais

Seja A e B 2 valores:

1.   [ == ]	  Igualdade	Verifica a igualdade entre dois valores.
2.   [ != ]  	Igualdade  	Verifica a diferença entre dois valores
3.   [ > 	]   Comparação	Verificar se o valor A é maior que o valor B.
4.   [ <  ]   Comparação	Verifica se o valor A é menor que o valor B.
5.   [ >=	]   Comparação	Verifica se o valor A é maior ou igual ao valor B.
6.   [ <=	]   Comparação	Verifica se o valor A é menor ou igual ao valor B.
7.   [ In	]   Seqüência	Verifica se o valor A está contido em um conjunto.

In [19]:
var = 100

if var > 100:
    print('Var é maior que 100.')
else:
    print('Var é menor que 100')

Var é menor que 100

In [23]:
var1 = 10
var2 = 11

if var1==10:
    print('O valor é 10')
    if var2==11:
        print('O valor é 11')
elif var1==11:
    print('O valor é 11')

O valor é 10
O valor é 11

## Estruturas de Repetição

In [24]:
for x in range(1, 10):  
    print(x)

1
2
3
4
5
6
7
8
9

In [28]:
x = 1

while(x < 10):
  print(x)
  x+=1

1
2
3
4
5
6
7
8
9

In [30]:
acc = 0
for x in range(1, 10):
    acc += x
    print(f"Iteração {x}, a soma é {acc}")

print(f"Final da soma é: {acc}")

Iteração 1, a soma é 1
Iteração 2, a soma é 3
Iteração 3, a soma é 6
Iteração 4, a soma é 10
Iteração 5, a soma é 15
Iteração 6, a soma é 21
Iteração 7, a soma é 28
Iteração 8, a soma é 36
Iteração 9, a soma é 45
Final da soma é: 45

In [39]:
x = 1
acc = 0
while(x < 10):
    acc += x
    print(f"Iteração {x}, a soma é {acc}")
    x += 1

print(f"Final da soma é: {acc}")

Iteração 1, a soma é 1
Iteração 2, a soma é 3
Iteração 3, a soma é 6
Iteração 4, a soma é 10
Iteração 5, a soma é 15
Iteração 6, a soma é 21
Iteração 7, a soma é 28
Iteração 8, a soma é 36
Iteração 9, a soma é 45
Final da soma é: 45

## Listas e Tuplas

In [41]:
# Listas são declaradas com [] e tuplas com ()
# A grande diferença entre elas é que uma lista é mutável, ja uma tupla não é!
lista = ['a', 'd', 'f', 'p']
tupla = ('a', 'd', 'f', 'p')

print(lista)
print(tupla)

['a', 'd', 'f', 'p']
('a', 'd', 'f', 'p')

In [43]:
lista[1] = 'changed'

print(lista)

['a', 'changed', 'f', 'p']

In [46]:
# Iterar sobre uma lista

for i in lista:
  print(i)

a
changed
f
p

In [48]:
# Iterar sobre uma lista e seu índice

for i,l in enumerate(lista):
    print(f"{i} : {l}")

0 : a
1 : changed
2 : f
3 : p

In [49]:
# Adicionar manualmente itens em uma lista
c = []
c.append('a')
c.append('b')
c.append('c')
c.append('d')
print(c)

['a', 'b', 'c', 'd']

In [50]:
print(c[1])

b

In [51]:
# Insert
c = ['a', 'b', 'c']
c.insert(0, 'a0')
print(c)
# Remove
c.remove('b')
print(c)
# Remove at index
del c[0]
print(c)

['a0', 'a', 'b', 'c']
['a0', 'a', 'c']
['a', 'c']

In [63]:
# Sets() Se um programa adiciona um item duplicado a um conjunto, apenas uma cópia de cada item permanece na coleção.

s = set(['a', 'b', 'c'])
s.add('c')
s.add('a')
s.add('f')
print(s)

{'b', 'c', 'a', 'f'}

## Dicionários

In [65]:
# O Python fornece o dicionário que é essenciamente uma coleção de pares {chave: valor}!

d = {'nome': "João", 'endereço':"Av 123"}
print(d)
print(d['nome'])

if 'nome' in d:
    print("Nome definido")

if 'idade' in d:
    print("idade definida")
else:
    print("idade não definida")

{'nome': 'João', 'endereço': 'Av 123'}
João
Nome definido
idade não definida

In [67]:
d = {'nome': "João", 'endereço':"Av 123"}

# Todas as chaves
print(f"Chaves: {d.keys()}")

#Todos os valores
print(f"Chaves: {d.values()}")

Chaves: dict_keys(['nome', 'endereço'])
Chaves: dict_values(['João', 'Av 123'])

In [73]:
# Lista de dicionários

pessoas = [
           {"nome": "João", 'endereço':"Av 123", "tel": "012997642345"},
           {"nome": "Julia", 'endereço':"Av 773", "tel": "03456789435"},
           {"nome": "Vic", 'endereço':"Av 23", "tel": "-"},
           {"nome": "João"},
]

print(pessoas)

for pessoa in pessoas:
    print(f"{pessoa['nome']}:{pessoa.get('tel', 'não tel')}")

[{'nome': 'João', 'endereço': 'Av 123', 'tel': '012997642345'}, {'nome': 'Julia', 'endereço': 'Av 773', 'tel': '03456789435'}, {'nome': 'Vic', 'endereço': 'Av 23', 'tel': '-'}, {'nome': 'João'}]
João:012997642345
Julia:03456789435
Vic:-
João:não tel